<div class="container-without-header">
    <div class="wrapper">
        <h1>Bienvenue sur <span class="website-title">Wordy</span></h1>
        <p>Plateforme gratuite qui te permet de développer ton vocabulaire de manière simple, rapide et ludique<span class="emoji">🙌</span></p>
        <div class="buttons">
            <a routerLink="/find-word" class="pure-button">Trouver le bon mot</a>
            <a routerLink="/find-definition" class="pure-button">Trouver la bonne définition</a>
        </div>
    </div>
</div>