<app-header
[wordsFound]="wordsFound"
[wordsTotal]="words.length"
[bestScore]="bestScore"
[lifeRemaining]="lifeRemaining"></app-header>

<main class="container-with-header">
    <div class="wrapper">

        <div class="loader" *ngIf="loading">
            <div class="lds-dual-ring"></div>
            <p>Chargement en cours</p>
        </div>

        <div *ngIf="!loading && !gameOver && !gameCongrats">

            <div class="definition">
                <div>
                    <h1>{{ currentWord.definitions[randomDefinitionIndex].value }}</h1>
                    <p 
                    *ngIf="currentWord.definitions.length > 1 && !seeMoreDefinition"
                    (click)="seeMoreDefinition = true"
                    class="see-more-definition">Voir d'autres définitions</p>
                    <div *ngFor="let definition of currentWord.definitions; let index = index">
                        <h2 *ngIf="seeMoreDefinition && index !== randomDefinitionIndex">{{ definition.value }}</h2>
                    </div>
                </div>
            </div>

            <div class="propositions">
                <button 
                *ngFor="let index of currentWords"
                (click)="checkAnswer(words[index].name)"
                class="proposition button-xlarge pure-button">{{ words[index].name | titlecase }}
                </button>
            </div>

        </div>

        <div *ngIf="gameOver" class="game-end">
            <img src="assets/ghost.svg" alt="ghost">
            <button
            (click)="resetGame()" 
            class="button-xlarge pure-button">Rejouer</button>
        </div>

        <div *ngIf="gameCongrats" class="game-end">
            <img src="assets/cake-slice.svg" alt="cake">
            <button
            (click)="resetGame()" 
            class="button-xlarge pure-button">Rejouer</button>
        </div>

    </div>
</main>