body {
    font-family: 'Merriweather', serif;
    color: #ffffff;
    background: #43cea2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container-with-header, .container-without-header {
    padding: 50px 0;
    box-sizing: border-box;
}

.container-with-header {
    min-height: calc(100vh -  200px);
}

.container-without-header {
    min-height: 100vh;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}

.game-end {
    text-align: center;
    img {
        display: block;
        width: 240px;
        margin: 0 auto 50px auto;
    }
    button {
        font-size: 1.2rem;
        width: 240px;
    }
}

// LOADER
// Source : https://loading.io/css/

.loader {
    text-align: center;
    .lds-dual-ring {
        display: inline-block;
        width: 100px;
        height: 100px;
    }
    .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 84px;
        height: 84px;
        margin: 8px;
        border-radius: 50%;
        border: 4px solid #fff;
        border-color: #fff transparent #fff transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }
    @keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    p {
        margin-top: 40px;
        font-size: 1.6rem;
        font-weight: 300;
    }
}


// RESPONSIVE WEB DESIGN

@media (max-width: 600px) {
    .container-with-header {
        min-height: calc(100vh -  160px);
    }
}