body {
    font-family: 'Merriweather', serif;
    color: #ffffff;
    background: #43cea2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container-with-header, .container-without-header {
    padding: 50px 0;
    box-sizing: border-box;
}

.container-with-header {
    min-height: calc(100vh -  200px);
}

.container-without-header {
    min-height: 100vh;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}

.game-end {
    text-align: center;
    img {
        display: block;
        width: 240px;
        margin: 0 auto 50px auto;
    }
    button {
        font-size: 1.2rem;
        width: 240px;
    }
}

@media (max-width: 600px) {
    .container-with-header {
        min-height: calc(100vh -  160px);
    }
}