<div class="container-without-header">
    <div class="wrapper">

        <h1>Mentions légales</h1>

        <p>Nous vous prions de prendre connaissances des termes et conditions d’accès et d’utilisation du site internet Wordy avant d’y naviguer. Vous reconnaissez qu’en consultant ce site internet et en y naviguant vous acceptez et êtes liés par les termes et conditions contenus aux présentes et ce, sans limite, restriction, ni réserve.</p>

        <h2>Éditeur</h2> 
        <p>Paulin Caratini</p>

        <h2>Conception et développement</h2>
        <p>Paulin Caratini</p>

        <h2>Hébergeur</h2>
        <p>Ex2 Inc.<br/>
        CP 20031 BP Pharmacie Brunet,<br/>Chicoutimi, Québec, G7H 7S2<br/>
        Canada</p>

        <h2>Accès au site</h2>
        <p>Ce site internet appartient exclusivement à l’éditeur. Il a été conçu pour permettre aux personnes qui y accédent de développer leur vocabulaire. L’éditeur exploite ce site pour que vous vous en serviez à des fins personnelles et non commerciales. L’accès et l’usage que vous faites de ce site internet sont sujets aux termes et conditions qui suivent et à toutes les lois qui s’y rapportent.</p>

        <h2>Exemption de garanties</h2>
        <p>Les informations contenues dans ce site internet sont destinées à des fins d'informations générales uniquement. Celles-ci sont issues de dictionnaires en ligne, dont notamment <a target="_blank" href="https://www.linternaute.fr/dictionnaire/fr/">l'internaute</a> et <a target="_blank" href="https://www.larousse.fr">le Larousse</a>.</p>
        <p>Les données récupérées ont été enregistrées dans une base de données. Le site internet Wordy n'utilise aucune API.</p>
        <p>Même si nous nous efforçons de conserver ces informations correctes et à jour, nous ne faisons aucune déclaration ni n'offrons aucune garantie, expresse ou implicite, quant à l'exhaustivité, l'exactitude, la fiabilité, l'adaptabilité ou la disponibilité du site internet ou des informations, illustrations, services ou graphiques associés contenus dans le site internet. La confiance que vous accordez à ces informations relève de votre propre responsabilité.</p>

        <p>En aucun cas l’éditeur n’entend représenter ou garantir le fait que ce site internet est fonctionnel, est sans erreur ou qu’il sera possible d’y accéder sans interruption ou qu’aucun virus ou autre élément contaminant ou destructeur ne sera transmis ou qu’aucun dommage ne sera occasionné à votre système informatique. Il est de votre responsabilité de prendre les précautions requises ou de vous renseigner auprès d’un consultant en informatique.</p>


        <h2>Exemption de responsabilités</h2>
        <p>Ce site peut contenir des liens vers d'autres sites, qui sont hors du contrôle de l’éditeur. Nous n'avons aucun contrôle sur la nature, le contenu et la disponibilité de ces sites. L'ajout de ces liens n'implique pas nécessairement une recommandation ni une approbation des avis qui y sont exprimés.</p>

        <p>Tous les efforts sont faits pour conserver le site fonctionnel et fluide. Cependant, l’éditeur n'engage aucune responsabilité, et ne sera tenu responsable, en cas d'indisponibilité temporaire du site internet due à des problèmes techniques hors de son contrôle.</p>

        <p>En utilisant ce site internet vous convenez assurément que votre seul et unique recours consiste à cesser de faire l’usage de ce site et d’y accéder.</p>


        <h2>Propriété intellectuelle</h2>
        <p>Toute représentation ou reproduction intégrale ou partielle, faite sans le consentement de l’auteur ou de ses ayants droit ou ayants cause, est illicite, à l'exception du contenu rédactionnel (les mots, leurs définitions, leurs synonymes et antonymes). Cette interdiction s'applique donc notamment pour les interfaces (ergonomie ou UX design).</p>

        <p>Il vous est strictement interdit d’introduire dans ce site internet ou à partir de celui-ci, de façon volontaire ou autrement, des informations ou des éléments qui pourraient nuire au fonctionnement du site internet ou aux utilisateurs.</p>


        <h2>Politique de confidentialité</h2>
        <p>Ce site internet :</p>
        <ul>
            <li>Ne vous demande aucune de vos données personnelles pour être utilisé dans son intégralité.</li> 
            <li>Ne collecte ni n'enregistre aucune de vos informations dans une base de données.</li>
            <li>N'a pas recours aux cookies (y compris les cookies analytics).</li>
        </ul>

        <h2>Lois applicables</h2>
        <p>Les termes et conditions d’accès et d’utilisation de ce site internet sont régis par les lois françaises. Vous acceptez d’être liés par ces lois et de vous en remettre à la compétence des tribunaux français en ce qui a trait à l’interprétation ou à l’application des termes et conditions d’utilisation de ce site internet.</p>

        <button routerLink="/" class="pure-button">Retourner à l'accueil</button>

    </div>
</div>